body {
    padding: 0;
    margin: 10px;
    text-align: center;
    background: rgb(40, 40, 40);
}

h1 {
    font-size: 2.1rem;
    line-height: 1.4;
    letter-spacing: 0.5rem;
    color: rgb(255, 255, 255);
    margin: 10px;
}

p {
    font-size: 1rem;
    color: white;
    letter-spacing: 0.1rem;
    margin: 0px;
    margin-bottom: 5px;
    /* font-family: 'Press Start 2P'; */
}

#score {
    font-size: 0.8rem;
    color: white;
    margin: 0px;
    margin-bottom: 5px;
    font-family: 'Press Start 2P', cursive;
}

canvas {
    display: block;
    margin: 2% auto;
    box-shadow: 1px 3px 10px 5px rgba(0, 0, 0, 0.75);
    border: 3px solid rgb(255, 81, 0);
}